:root {
    --title-font: "Roboto", sans-serif;
    --text-font: "DM Serif Text", serif;
    --primary-color: #12103d;
    --secondary-color: #cbba64;
    --background-color: #95B3D7;
    --text-color: #020202;
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end;
	margin-top: -45px;
}

.stars input[type="radio"] {
    display: none; 
}

.stars label.star {
    font-size: 2rem;
    color: #fff; 
    cursor: pointer;
    transition: color 0.2s;
}

.stars label.star:hover,
.stars label.star:hover ~ label.star {
    color: gold; 
}

.stars input[type="radio"]:checked ~ label.star {
    color: gold;
}

body {
	width: 450px;
	margin: 0;
}

main {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 20px 0px 20px 0px;
}

section {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 1.2rem;
	margin: 20px 0px 5px 15px;
	vertical-align: middle;
	font-family: var(--text-font);
}

select, input {
	font-size: 1.2rem;
	margin: 0px 15px 0px 15px;
	height: 45px;
}

textarea {
	font-size: 1.2rem;
	margin: 0px 15px 0px 15px;
	height: 95px;
}

h1 {
	text-align: center;
	margin: 0;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	padding: 15px;
	font-family: var(--title-font);	
}

input[type="submit"] {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-size: 1.2rem;
	margin: 20px 15px 20px 15px;
	height: 45px;
	font-weight: bold;
}

footer {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	padding: 20px;
}

span {
	font-size: 1rem;
	margin-left: 15px;
}

p {
	font-size: 1.2rem;
	font-family: var(--text-font);
}

input[type="checkbox"] {
    width: 20px;
	margin: 0px -10px 0px 15px;
    vertical-align: middle;
}

section div {
    margin: -10px 0;
}