@media (min-width: 500px) {
    main {
        position: relative;
    }
    
    div {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 10px;
        width: 300px; 
        margin: 20px auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .box1 {
        position: absolute; 
        top: 120px;
        left: 45px;
    }

    .box2 {
        position: absolute; 
        bottom: 20px;
        right: 25px;
    }

    h2 {
        background-color: #228B22;
        color: white;
        border-radius: 10px; 
        margin-left: -30px;
        text-align: left;
        margin-bottom: 10px;
        height: 55px;
        padding-top: 25px;
        padding-left: 15px;
    }

    .box2 h2:after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url('../images/sunny.svg');
        background-size: cover;
        position: absolute;
        background-repeat: no-repeat;
      }

      div img {
        display: none;
      }
}
